<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accommodationMapper">

    <select id="selectAccomList" parameterType="com.kh.clock.accommodation.repository.AccomListInfoDTO" resultType="com.kh.clock.accommodation.repository.AccomDTO">
      SELECT 
      	ACCOM_SQ,
        ACCOM_NAME,
        ACCOM_DESC,
        ACCOM_LON,
        ACCOM_LAT,
        ACCOM_ZIP_CODE,
        ACCOM_ADDR,
        ACCOM_PHONE,
        ACCOM_REG_DT,
        PUB_FAC_INFO,
        IN_ROOM_FAC_INFO,
        ETC_FAC_INFO,
        ACCOM_TYPE_NO,
        A.LOC_ID,
        R.ROOM_PRICE
	    FROM ACCOMMODATION_TB A
	    JOIN LOCATION_TB L ON A.LOC_ID = L.LOC_ID
	    JOIN (SELECT ACCOM_NO, MIN(ROOM_PRICE) ROOM_PRICE FROM ROOM_TB GROUP BY ACCOM_NO ) R ON A.ACCOM_SQ = R.ACCOM_NO
	    WHERE L.LOC_NAME LIKE '%' || #{keyword} || '%'
	    ORDER BY ACCOM_SQ DESC
    </select>

    <select id="selectAccomDetail" parameterType="int" resultType="com.kh.clock.accommodation.repository.AccomDTO">
        SELECT 
        ACCOM_SQ,
        ACCOM_NAME,
        ACCOM_DESC,
        ACCOM_LON,
        ACCOM_LAT,
        ACCOM_ZIP_CODE,
        ACCOM_ADDR,
        ACCOM_PHONE,
        ACCOM_REG_DT,
        PUB_FAC_INFO,
        IN_ROOM_FAC_INFO,
        ETC_FAC_INFO,
        ACCOM_TYPE_NO,
        A.LOC_ID,
        R.ROOM_PRICE
        FROM ACCOMMODATION_TB A
        JOIN (SELECT ACCOM_NO, MIN(ROOM_PRICE) ROOM_PRICE FROM ROOM_TB GROUP BY ACCOM_NO ) R ON A.ACCOM_SQ = R.ACCOM_NO
        WHERE ACCOM_SQ = #{accomSq}
        ORDER BY ACCOM_SQ DESC
    </select>

    <insert id="insertAccom" parameterType="com.kh.clock.accommodation.repository.AccomDTO">
        
    </insert>

    <update id="updateAccom" parameterType="com.kh.clock.accommodation.repository.AccomDTO">
        
    </update>

    <delete id="deleteAccom" parameterType="int">
        
    </delete>

</mapper>
