<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mamberMapper">

	<select id="emailDuplication" resultType="int">

		select count(*) as
		emailCount
		from member_tb
		where mem_email_id = #{email}
		<!--and ck_soc_plt = #{platformName} -->
	</select>


	<select id="nickNameDuplicationCheck" resultType="int">

		select count(*)
		as nickCount
		from member_tb
		where mem_nick = #{nickName}
	</select>

	<select id="kakaoRegisterSelect" resultType="int">

		select count(*)
		as
		nickCount
		from member_tb
		where mem_nick = #{nickName}
	</select>

	<insert id="registerSend">

		insert into member_tb
		(MEM_SQ, MEM_EMAIL_ID, MEM_PWD,
		MEM_NICK, MEM_PHONE
		, MEM_ADDR, MEM_REG_DT)
		values (mem_seq.nextval,
		#{email}, #{pwd}, #{nickName}, #{tel}, #{address}
		, sysdate)
	</insert>

	<insert id="snsRegister">

		insert into member_tb (mem_sq, mem_email_id, mem_pwd, mem_nick,
		MEM_SOC_UID,
		CK_SOC_PLT) values (
		mem_seq.nextval, #{email}, #{pwd}, #{nickName}, #{snsUid} ,
		#{platformName}
		)
	</insert>


	<select id="loginInfo" resultType="MemberVO">

		select * from member_tb where mem_email_id = #{email}

	</select>


</mapper>