<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminReservationMapper">

    <select id="selectReservationCount" resultType="_int">
        SELECT COUNT(*) FROM RESERVATION_TB WHERE CK_RES_ST != 'PROCESSING'
    </select>

    <select id="selectCancelTotalCount" resultType="_int">
        SELECT COUNT(*) FROM RESERVATION_TB WHERE CK_RES_ST = 'PROCESSING'
    </select>

    <select id="selectReservationList" resultType="com.kh.clock.admin.repository.dto.AdminReservationListDTO">
        SELECT 
            RES.RES_CD AS NO,
            ACC.ACCOM_NAME,
            RES.RES_NAME,
            RES.RES_PHONE,
            RES.RES_EMAIL_ID,
            RES.CK_RES_ST
        FROM RESERVATION_TB RES
            LEFT JOIN ROOM_TB R ON (RES.ROOM_NO = R.ROOM_SQ)
            LEFT JOIN ACCOMMODATION_TB ACC ON (ACC.ACCOM_SQ = R.ACCOM_NO) 
        <where>
            <if test="keyword != null and keyword != ''">
                ( 
                    RES.RES_CD LIKE '%' || #{keyword} || '%' 
                    OR RES.RES_NAME LIKE '%' || #{keyword} || '%' 
                    OR RES.RES_PHONE LIKE '%' || #{keyword} || '%' 
                )
            </if>
        </where>
        ORDER BY RES.RES_CD DESC
    </select>

    <select id="selectReservationCancelList" resultType="com.kh.clock.admin.repository.dto.AdminReservationCancelListDTO">
	    SELECT  
	        RES.RES_CD AS NO,  
	        P.RECEIPT_ID,  
	        RES.RES_NAME,  
	        P.PAY_PRICE,  
	        RES.CK_RES_ST  
	    FROM RESERVATION_TB RES  
	        LEFT JOIN ORDER_TB O ON (RES.RES_CD = O.RES_CD)
	        LEFT JOIN PAYMENT_TB P ON (O.RECEIPT_ID = P.RECEIPT_ID)  
	    <where>
	        RES.CK_RES_ST = 'PROCESSING'
	        <if test="keyword != null and keyword != ''">
	            AND (  
	                RES.RES_CD LIKE '%' || #{keyword} || '%'  
	                OR RES.RES_NAME LIKE '%' || #{keyword} || '%'  
	                OR RES.RES_PHONE LIKE '%' || #{keyword} || '%'  
	            )
	        </if>
	    </where>
	    ORDER BY P.PAY_DT DESC, RES.RES_CD DESC
	</select>

    <select id="findReservationByResCd" resultType="com.kh.clock.admin.repository.dto.AdminReservationDetailDTO">
        SELECT 
            RES.RES_CD,
            RES.RES_NAME,
            RES.RES_PHONE,
            RES.RES_EMAIL_ID,
            ACC_TYPE.ACCOM_TYPE_NAME,
            ACC.ACCOM_NAME,
            R.ROOM_NAME,
            P.RECEIPT_ID,
            P.PAY_METHOD,
            P.PAY_PRICE,
            P.PAY_DT
        FROM RESERVATION_TB RES
            LEFT JOIN ROOM_TB R ON RES.ROOM_NO = R.ROOM_SQ
            LEFT JOIN ACCOMMODATION_TB ACC ON (R.ACCOM_NO = ACC.ACCOM_SQ)
            LEFT JOIN ACCOMMODATION_TYPE_TB ACC_TYPE ON (ACC.ACCOM_TYPE_NO = ACC_TYPE.ACCOM_TYPE_SQ)
            LEFT JOIN ORDER_TB O ON (RES.RES_CD = O.RES_CD)
            LEFT JOIN PAYMENT_TB P ON (O.RECEIPT_ID = P.RECEIPT_ID)
        WHERE RES.RES_CD = #{resCd}
    </select>

	<select id="findReservationCancelByResCd" resultType="com.kh.clock.admin.repository.dto.ReservationCancelDetailDTO">
		SELECT
			O.RECEIPT_ID,
			RES.RES_CD,
			RES.RES_EMAIL_ID,
			RES.RES_NAME,
			RES.RES_PHONE,
			RES.RES_NUM_OF_PEO,
			RES.CHECK_IN_DT,
			RES.CHECK_OUT_DT,
			RES.RES_REG_DT,
			R.ROOM_NAME,
			ACC.ACCOM_NAME
		FROM RESERVATION_TB RES
			LEFT JOIN ROOM_TB R ON (RES.ROOM_NO = R.ROOM_SQ)
			LEFT JOIN ACCOMMODATION_TB ACC ON (R.ACCOM_NO = ACC.ACCOM_SQ)
			LEFT JOIN ORDER_TB O ON (RES.RES_CD = O.RES_CD)
		WHERE RES.RES_CD = #{resCd} AND RES.CK_RES_ST = 'PROCESSING'
	</select>
</mapper>