<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomImageMapper">

	<!-- 특정 객실 이미지 목록 조회 -->
	<select id="findRoomImageByRoomSq" resultType="com.kh.clock.room.repository.dto.RoomImageDTO">
		SELECT ROOM_IMG_HASH_CD, ROOM_IMG_ORG_NAME, ROOM_IMG_PATH_NAME, ROOM_NO FROM ROOM_IMAGE_TB WHERE ROOM_NO = #{roomSq} 
	</select>
	
	<!-- 객실 이미지 등록 INSERT문 -->
 	<insert id="insertRoomImage">
    	INSERT INTO ROOM_IMAGE_TB 
    	(ROOM_IMG_SQ, ROOM_IMG_HASH_CD, ROOM_IMG_ORG_NAME, ROOM_IMG_PATH_NAME, ROOM_IMG_REG_DT, ROOM_NO) 
    	VALUES (
			ROOM_IMG_SEQ.NEXTVAL, 
			#{roomImgHashCd},
			#{roomImgOrgName},
			#{roomImgPathName},
			DEFAULT,
			#{roomNo}
		)
  	</insert>
  	
  	<!-- 객실 이미지 수정 UPDATE문 -->
  	<update id="updateRoomImage">
  		UPDATE ROOM_IMAGE_TB SET 
			ROOM_IMG_ORG_NAME = #{roomImgOrgName},
			ROOM_IMG_PATH_NAME = #{roomImgPathName}
		WHERE ROOM_NO = #{roomNo}
  	</update>
</mapper>