<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomMapper">

	<!-- 객실 전체 조회 -->
	<select id="selectAllList" resultType="com.kh.clock.room.repository.dto.RoomListDTO">
		SELECT ROOM_SQ, ROOM_NAME, ROOM_CNT, ROOM_PRICE FROM ROOM_TB WHERE ACCOM_NO = #{accomNo}
	</select>
	
	<!-- 특정 객실 조회 -->
	<select id="findRoomByAccomNoAndRoomSq" resultType="com.kh.clock.room.repository.dto.RoomDetailDTO">
		SELECT * FROM ROOM_TB WHERE ACCOM_NO = #{accomNo} AND ROOM_SQ = #{roomSq}
	</select>
	
	<!-- 객실 등록 INSERT문 -->
 	<insert id="insertRoom" parameterType="RoomVO">
    	INSERT INTO ROOM_TB VALUES (
			ROOM_SEQ.NEXTVAL, 
			#{roomName},
			#{roomPrice},
			#{roomChkIn},
			#{roomChkOut},
			#{roomStdPpl},
			#{roomMaxPpl},
			#{roomCnt},
			DEFAULT,
			#{accomNo}
		)
		
		<!--
			방금 INSERT 한 데이터의 키값 조회
			order를 AFTER로 설정하여 SQL쿼리문 실행 후 실행으로 설정
		-->
	 	<selectKey keyProperty="roomSq" order="AFTER" resultType="int">
	        SELECT ROOM_SEQ.CURRVAL FROM DUAL
	    </selectKey>
  	</insert>
  	
  	<!-- 숙박업소번호로 객실찾기 -->
  	<select id="findByAccomNo" resultType="_int">
  		SELECT ROOM_SQ FROM ROOM_TB WHERE ACCOM_NO = #{accomNo} GROUP BY ROOM_SQ
  	</select>
</mapper>